body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 100px;
    padding: 100px;
    background-image: url(https://assets.telegraphindia.com/telegraph/2020/Nov/1606159326_shutterstock_743819602.gif);
    background-size:cover;
    background-position: center;
    text-align: center;
    color: rgb(31, 32, 30)

}

h1 {
    color: #2582e6;
    text-shadow: 2px 2px 4px #000000;
}
input{
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#result{
    margin-top: 20px;
    color: rgb(17, 16, 16);
    font-size: 25px;
}